
html{
  background-image: url("background.jpg");

}
body{
width:800px;
background-color: white;
margin:auto;
}


#logo {
    margin:auto;
    float:left;
    width:100px;
    height:100px;
}
#title {
    margin:auto;
    text-align: center;
}

table,th,td{
    border:1px solid black; 
    border-collapse: collapse;
    text-align: center;
}
h3{
  padding-top: 5px;
  text-align: center;
  color:white;
  
}
header{

  background-color: black;
}
/* -----------Navigation Menu-------------- */
#nav_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  #nav_menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
 #nav_menu li {
    float: left;
    text-align: center;

  }
  
  #nav_menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 106px;
  }
  
  #nav_menu li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
  }
  #nav_menu ul li a.current {
	color: lightblue;
}
h3{
  
}

  

  
  
  .dropdown-content a:hover {background-color: gray;}
  
  .dropdown:hover .dropdown-content {
    display:block;
  }
  /*-------Banner------------*/
  .banner {
    position:relative;
  
}
  .banner img{
    width:800px;
    height:200px;
  }

  img #logo{
    top: 17px;
    left: 15px;
    position: absolute;
    width:50px;
    height:50px;
}

#title {
    position: absolute;
    top: 17px;
    left: 150px;
}