html{
    background-color: yellow;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    background-color: white;
    margin: auto;
    border: 5px double blue;
}
main{
    padding: 1em;
}
footer {
    border-top-style: solid;
    border-color: blue;
    border-width: 2px;
    margin: 1em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;

}
h1 {
    font-size: 150%;
    color: blue;
}
h2 {
    font-size: 125%;
    margin-bottom: 0px;
}
h3 {
    font-size: 115%;
    margin-bottom: 0px;
}

blockquote{
    margin: 0px;
}

ul {
    padding-left: 1em;
    margin-top: 0px;
}

cite {
    color:blue;
    font-style: normal;
}

.citation {
    margin-top: 0px;
    text-align: right;
}

img {
    float:left;
    margin-right: 1em;
    margin-bottom: 1em;
}